/OOP_2_sumCS/nbproject/private/
/OOP_2_sumCS/build/
/OOP_3_pttngTo/nbproject/private/
/OOP_3_pttngTo/build/
/OOP_4_lksnt/nbproject/private/
/OOP_4_lksnt/build/
/OOP_5_nsntdtien/nbproject/private/
/OOP_5_nsntdtien/build/
/OOP_6_fibothuN/nbproject/private/
/OOP_6_fibothuN/build/
/OOP_7_lk_thuanngto/nbproject/private/
/OOP_7_lk_thuanngto/build/
/OOP_8_fiBongto/nbproject/private/
/DB_Web/nbproject/private/
/OOP_vidu1/nbproject/private/
/Xai/nbproject/private/
/Showcase_Site/nbproject/private/
/Showcase_Site/build/
/OOP_8_fiBongto/build/
/OOP_9_SoNguyenDuong/nbproject/private/
/OOP_9_SoNguyenDuong/build/
/OOP_10_PI/nbproject/private/
/OOP_10_PI/build/
/OOP_11_sin/nbproject/private/
/OOP_11_sin/build/
/OOP_12_cos/nbproject/private/
/OOP_12_cos/build/
/TestJson/nbproject/private/
/OOP_13_ThuanNghichDoc/nbproject/private/
/OOP_13_ThuanNghichDoc/build/
/OOP_14_Phanso/nbproject/private/
/OOP_15_Menu_ChuanHoa/nbproject/private/
/OOP_15_Menu_ChuanHoa/build/
/OOP_18_lkxaunp/nbproject/private/
/OOP_18_lkxaunp/build/
/OOP_19_ToHop/nbproject/private/
/OOP_19_ToHop/build/
/OOP_20_HoanVi/nbproject/private/
/OOP_Q2/nbproject/private/
/XeMay/nbproject/private/
/XeTai/nbproject/private/
/OOP_Nhom11/nbproject/private/
/OOP_Nhom11/build/
/OOP_Q3/nbproject/private/
/OOP_Q3/build/
/OOP_Q2/build/
/GiangVien/nbproject/private/
/OOP_Q4_GiangVien/nbproject/private/
/OOP_Q4_GiangVien/build/
/OOP_Q1_Phone/nbproject/private/
/OOP_Q1_Phone/build/
/OOP_Q3_New/nbproject/private/
/OOP_Q3_New/build/
/Nhom11/nbproject/private/
/Nhom11/build/
/Swing_Mau/nbproject/private/
/Swing_Mau/build/
/BT3_TA/nbproject/private/
/OOP_Swing/nbproject/private/
/BT3_TA/build/
/OOP_Swing/build/
/BT_Chat/nbproject/private/
/TestDTH3/nbproject/private/
/TestDTH3/build/
/BTTH3_HongCuong/nbproject/private/
/BTTH3_HongCuong/build/
/Nhom11_lan4/nbproject/private/
/Nhom11_lan4/build/
/BT_Chat/build/
/BT_Chat/src/GuiHS/ExamDemo/build/
/BT_Chat/src/GuiHS/ExamDemo/nbproject/private/
/BaiThi5/nbproject/private/
/OOP_IO_Thread/nbproject/private/
/OOP_IO_Thread/build/
/BT_Dung/nbproject/private/
/BT_Dung/build/